.Container {
    display: flex;
    flex-direction: column;
}

#content {
    margin-top: 2.5rem; /* Reduce margin to place content closer to header */
    display: flex;
    width: 35rem;
    color: #444444;
    flex-grow: 1;
}