#content{
    width: 100%;
    display: flex;
}

#login-form{
    height: fit-content;
    margin-left: 8rem;
    padding: 0.5rem;
    align-self: center;
    width: 70%;
}

#login-form > *{
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
}
