html, body{
    margin: 0;
    height: 100%;
    color: #fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.Container{
    margin: 0 auto;
    background-color: #e6e1a4;
    position: relative;
    min-height: 100%;
    height: fit-content;
    display: flex;
    text-align: center;
}

#content{
    color: #000;
    display: flex;
    align-self: center;
    width: 100%;
    height: 87%;
}

#root{
    height: 100%;
}

.text-input{
    background-color: #fff;
    border-radius: 0.3rem;
}

#button{
    background-color: #ef7f1a;
}